* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: #0a5358;
}
img {
  margin: 15px 30px;
  height: 15vh;
  object-fit: cover;
}

.left-side {
  display: inline-flex;
}
.left-side > ul {
  display: flex;
  margin-right: 60px;
}
.left-side > ul > li {
  list-style: none;
  padding: 30px 10px;
  color: white;
  font-size: 15px;
  margin-left: 20px;
}

/* Content  */
.content {
  display: flex;
  height: 85vh;
  background-color: rgb(232, 234, 236);
}
.content > img {
  height: 80vh;
  margin-left: 70px;
  object-fit: cover;
}
.text {
  margin: 100px 40px 20px 100px;
}
h1 {
  font-size: 50px;
}
.text h5 {
  color: black;
  margin: 30px 0px;
  font-size: 20px;
}
p {
  margin-top: 100px;
}
button {
  color: white;
  border: white;
  background-image: linear-gradient(
    to right,
    rgb(46, 141, 97),
    rgb(47, 196, 163)
  );
  width: 10%;
  height: 5vh;
  border-radius: 8px;
  margin-top: 100px;
  margin-left: 500px;
  border: 1px solid white;
}
.app {
  margin-left: 650px;
  font-size: 40px;
  font-weight: bold;
  margin-top: -45px;
  color: black;
}
.app > span {
  display: block;
  color: black;
  font-size: 10px;
  margin-right: 70px;
}

/* Card */

.card {
  display: flex;
  justify-content: space-around;
  margin: 0px 30px;
  height: 20vh;
}
.blue {
  background-color: rgb(10, 10, 128);
  height: 3.5vh;
}
.Pink {
  background-color: rgb(241, 7, 151);
  height: 3.5vh;
}
.yello {
  background-color: rgb(248, 226, 23);
  height: 3.5vh;
}
.green {
  background-color: rgb(9, 172, 150);
  height: 3.5vh;
}
.AI {
  max-height: 20vh;
  max-width: 20vw;
  border: 1px solid rgb(233, 228, 228);
  text-align: center;
  margin: -30px;
}
.AI h4 {
  color: rgb(10, 10, 128);
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
}
.AI p {
  color: white;
  margin: 20px;
}
.AI:hover {
  background-color: rgb(10, 10, 128);
}
.AI:hover h4 {
  color: white;
}

.cloud {
  max-height: 20vh;
  max-width: 20vw;
  border: 1px solid rgb(233, 228, 228);
  text-align: center;
  margin: -30px;
}
.cloud h4 {
  color: rgb(241, 7, 151);
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
}
.cloud p {
  color: white;
  margin: 20px;
}
.cloud:hover {
  background-color: rgb(241, 7, 151);
}
.cloud:hover h4 {
  color: white;
}
.blockchain {
  max-height: 20vh;
  max-width: 20vw;
  border: 1px solid rgb(233, 228, 228);
  text-align: center;
  margin: -30px;
}
.blockchain h4 {
  color: rgb(248, 226, 23);
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
}
.blockchain p {
  color: white;
  margin: 20px;
}
.blockchain:hover {
  background-color: rgb(248, 226, 23);
}
.blockchain:hover h4 {
  color: white;
}
.human-things {
  max-height: 20vh;
  max-width: 20vw;
  border: 1px solid rgb(233, 228, 228);
  text-align: center;
  margin: -30px;
}
.human-things:hover {
  background-color: rgb(9, 172, 150);
}
.human-things:hover h4 {
  color: white;
}
.human-things h4 {
  color: rgb(9, 172, 150);
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
}
.human-things p {
  color: white;
  margin: 20px;
}

/* Carousel */

.slider {
  display: flex;
  justify-content: space-between;
  background-color: #0a5358;
}
.slider img {
  width: 50vw;
  height: 40vh;
  object-fit: cover;
}
.slide {
  display: flex;
  width: 50vw;
}
.slide h6 {
  font-size: 20px;
  margin-right: 900px;
  margin-top: 50px;
  color: white;
}
.slider p {
  margin-right: 650px;
}
/* Stratgeic partners */

.Part {
  height: 30vh;
  text-align: center;
  margin: 20px 0px;
}
.companies {
  display: flex;
  margin-left: 400px;
  margin-top: 20px;
  gap: 5rem;
}
.companies > img {
  text-align: center;
  height: 8vh;
}
/* Footer Component */
.footer {
  display: flex;
  height: 40vh;
  background-color: rgb(48, 63, 73);
}
.navigation {
  margin: 30px 130px;
}
h5 {
  color: rgb(226, 221, 221);
  font-size: 20px;
  margin-bottom: 15px;
}
.navigation > ul > li {
  list-style: none;
  color: rgb(226, 221, 221);
}
.Locations {
  margin-top: 35px;
}
.Locations > span {
  color: white;
}
h3 {
  color: rgb(226, 221, 221);
  margin-bottom: 10px;
}
h2 {
  color: rgb(226, 221, 221);
  margin-top: 60px;
  font-size: 20px;
}
span {
  color: rgb(29, 28, 28);
  margin-left: 25px;
}
.footer-logo {
  background-color: rgb(36, 49, 58);
  height: 8vh;
}
.footer-logo > h3 {
  padding: 10px;
  margin-left: 90%;
  margin-bottom: -30px;
}
.footer-logo > img {
  height: 50%;
  margin-left: 92%;
}
