* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: #0a5358;
}
img {
  margin: 15px 30px;
  height: 15vh;
  object-fit: cover;
}

.left-side {
  display: inline-flex;
}
.left-side > ul {
  display: flex;
  margin-right: 60px;
}
.left-side > ul > li {
  list-style: none;
  padding: 30px 10px;
  color: white;
  font-size: 15px;
  margin-left: 20px;
}

/* Content  */
.content {
  display: flex;
  background-color: rgb(232, 234, 236);
}
.content > img {
  height: 80vh;
  object-fit: cover;
}
.text {
  margin: 100px 100px;
}
h1 {
  font-size: 50px;
}
h4 {
  margin-top: 15px;
  font-size: 20px;
}
p {
  margin-top: 100px;
}
button {
  color: white;
  border: white;
  background-image: linear-gradient(
    to right,
    rgb(46, 141, 97),
    rgb(47, 196, 163)
  );
  /* background-color: #1bd1e9; */
  width: 10%;
  height: 5vh;
  border-radius: 8px;
  margin-top: 200px;
  margin-left: 500px;
  border: 1px solid white;
}
.app {
  margin-left: 650px;
  font-size: 40px;
  font-weight: bold;
  margin-top: -45px;
  color: black;
}
.app > span {
  display: block;
  color: black;
  font-size: 10px;
  margin-right: 70px;
}

/* Card */
.cards {
  display: flex;
  justify-content: space-around;
  height: 20vh;
}
.card {
  background-color: #e5eff0;
  width: 250vw;
  border: 1px solid white;
  margin: -35px 20px 20px 20px;
}
.card > span {
  height: 5vh;
  background-color: blueviolet;
}
h6 {
  color: rgb(37, 36, 36);
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
}

/* Carousel */
.margin {
  margin-bottom: -65px;
  margin-left: 30px;
}
.coursel {
  display: flex;
  background-color: #18d4cb;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  gap: 12rem;
}
.slider {
  display: flex;
}
.slider .text {
  width: 40vw;
}
.img {
  display: flex;
  margin-top: 100px;
}
.text {
  width: 100%;
}

.text h1 {
  font-size: 20px;
}
.text h2 {
  font-size: 20px;
  text-align: justify;
}

/* Stratgeic partners */
.Part {
  height: 30vh;
  text-align: center;
  margin: 20px 0px;
}
.companies {
  display: flex;
  margin-left: 400px;
  margin-top: 20px;
  gap: 5rem;
}
.companies > img {
  text-align: center;
  height: 8vh;
}
/* Footer Component */
.footer {
  display: flex;
  height: 40vh;
  background-color: rgb(48, 63, 73);
}
.navigation {
  margin: 30px 130px;
}
h5 {
  color: rgb(226, 221, 221);
  font-size: 20px;
  margin-bottom: 15px;
}
.navigation > ul > li {
  list-style: none;
  color: rgb(226, 221, 221);
}
.Locations {
  margin-top: 35px;
}
.Locations > span {
  color: white;
}
h3 {
  color: rgb(226, 221, 221);
  margin-bottom: 10px;
}
h2 {
  color: rgb(226, 221, 221);
  margin-top: 60px;
  font-size: 20px;
}
span {
  color: rgb(29, 28, 28);
  margin-left: 25px;
}
.footer-logo {
  background-color: rgb(36, 49, 58);
  height: 8vh;
}
.footer-logo > h3 {
  padding: 10px;
  margin-left: 90%;
  margin-bottom: -30px;
}
.footer-logo > img {
  height: 50%;
  margin-left: 92%;
}
